* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
selec,
textarea {
  font-family: "Heebo", sans-serif;
}

body {
  background: #eeeeee;
}

/* LINHA COLORIDA */
.container-fluidcolor-line {
  background: linear-gradient(
    to right,
    #ff0101,
    rgb(150, 4, 248),
    rgb(150, 4, 248),
    #ff0000
  );
  height: 6px;
  max-width: 1200px;
  margin: 0 auto;
}
/* NAVBAR | MENU TOPO */
header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;

  background-color: #ffffff;
}
header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #42008c;
}
header #navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}
header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #42008c;
  font-size: 1rem;
  font-weight: 500;
}
header #navbar .nav-list .nav-item a:hover {
  color: rgb(0, 0, 0);
  transition: color 0.2s;
}
/* DIV HEADER-MAIN */
.div-header-main {
  display: flex;
  background-image: url(/assets/banner-div.png);
  width: 1200px;
  height: 400px;
  align-items: center;
  padding: 0 auto;
  margin: 0 auto;
}

/* MAIN MENU INICIO */
main #menu-inicio {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 30px;
}
main #menu-inicio ul {
  display: flex;
  margin: 0 auto;
  padding: 02 auto;
  background: rgb(24, 24, 24);
  height: 30px;
}
main #menu-inicio ul li {
  display: flex;
  width: 200px;
  list-style: none;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main #menu-inicio ul li:hover {
  background: rgb(36, 36, 36);
}
main #menu-inicio ul li a:hover {
  color: rgb(255, 0, 0);
}
main #menu-inicio .menu-btn {
  text-decoration: none;
  align-items: center;
  font-weight: 600;
}
main .menu-btn {
  text-decoration: none;
  align-items: center;
}
main .menu-btn a {
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: white;
}
main .menu-btn:hover {
  box-shadow: 2px white;
}
/* MAIN SECTION BANNER PROMOÇÕES */
main #banner {
  background: #333;
  height: 320px;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
main #banner .banner-content {
  width: 1200px;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

main #banner .banner-ret {
  max-width: 500px;
  height: 300px;
  border-radius: 20px;
  margin-left: 1rem;
}
main #banner .banner-quad {
  max-width: 400px;
  height: 300px;
  border-radius: 20px;
}

/* SECTION CAIXA DE MENSAGEM */
.card-container {
  background: rgb(255, 255, 255);
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  margin-top: 5rem;
}
main .card-container h2 {
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 1rem;
}
main .caixa-dialogo {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
  padding: 3rem;
}
main .caixa-dialogo .caixa-msg {
  border: 2px solid #8d8d8d;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 2rem;
  width: 400px;
}
main .caixa-dialogo .caixa-msg h3 {
  display: flex;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  align-items: center;
}
main .caixa-dialogo .caixa-msg {
  color: rgb(122, 122, 122);
}

/* SECTION CARD-JORNADA */
main #card-jornada {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  background-color: white;
}
main #card-jornada p {
  max-width: 1100px;
  margin-top: 2rem;
}
main #card-jornada .card-destaque {
  color: #42008c;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER RODAPÉ */
footer .rodape {
  max-width: 100%;
  background: rgb(247, 247, 247);
  margin-top: 3rem;
}
footer .ia-rodape {
  list-style: none;
  padding: 1rem;
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 35rem;
}
footer .inline {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0 auto;
}
footer .ia-rodape2 {
  display: flex;
  list-style: none;
  max-width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  align-items: center;
  margin-left: 40px;
}

/* INICIO HTML HOTEIS */

main .main-hotel {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

section {
  margin-bottom: 30rem;
}

/* Estilos para os cards de hotéis */
.hotel-cards {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
}

.card {
  background-color: #313131;
  border: 2px solid rgb(218, 218, 218);
  height: 600px;
  color: #a842ff;
  padding: 3rem;
  margin: 0;
}
.card h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card p {
  display: flex;
  margin-top: 2rem;
  max-width: 600px;
  max-height: 60px;
}
.card span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: rgb(0, 255, 0);
}
.card button {
  font-size: 20px;
  background: rgb(233, 233, 233);
  width: 300px;
  height: 35px;
  margin-top: 3rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.card button:hover {
  background: rgb(0, 255, 0);
}
.card button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 3rem;
}
.card button a:hover {
  color: white;
}
.card img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

/*BOX SHADOW CARRO*/

.card .img-carro:hover {
  filter: drop-shadow(5px 5px 6px rgba(255, 255, 255));
}
.img-carro:hover {
  filter: drop-shadow(5px 5px 6px rgba(255, 255, 255));
}
/* Estilos para o carrossel */
.carousel {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  color: #a842ff;
}
.carousel-container h3 {
  margin-top: 4px;
  color: white;
}
.carousel-container span {
  display: flex;
  color: rgb(0, 255, 0);
}

.carousel-page {
  flex: 0 0 calc(25% - 20px); /* 25% para 4 hotéis por página */
  background-color: #313131;
  padding: 20px;
  border-radius: 5px;
  height: 300px;
}
.carrousel h3 {
  margin-top: 1rem;
  border-top: 2rem;
  color: white;
}
.carousel-page img {
  width: 230px;
  height: 170px;
  border-radius: 5px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* SECTION PACOTES */
main .hotel-cards-pacote {
  align-items: center;
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
  background: #333;
  height: 700px;
  margin-top: 2px;
}
main .hotel-cards-pacote .card-title {
  color: rgb(150, 4, 248);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .card-pacote {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    #dddddd,
    rgb(150, 4, 248),
    rgb(129, 129, 129),
    #dddddd
  );
  margin: 1rem;
  justify-content: space-between;
  height: 200px;
}
main .card-pacote img {
  margin: 0 auto;
  width: 170px;
  height: 170px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
}
main .card-pacote .div-itens {
  margin: 0 auto;
  width: 920px;
  height: 170px;
  background: rgb(250, 250, 250);
  border-radius: 8px;
}
main .card-pacote .div-itens h2 {
  display: flex;
  justify-content: center;
  color: rgb(34, 34, 34);
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
main .card-pacote .div-itens p {
  color: rgb(90, 90, 90);
  align-items: center;
  margin: 0 auto;
  max-width: 870px;
  margin-top: 6px;
  margin-bottom: 6px;
}
main .card-pacote .div-itens span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(22, 22, 22);
  font-weight: bold;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
main .card-pacote .div-itens button {
  margin: 0 auto;
  display: flex;
  width: 200px;
  height: 35px;
  background: #313131;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
main .card-pacote .div-itens button:hover {
  background: rgb(0, 255, 0);
}
main .card-pacote .div-itens button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 5px;
}
main .card-pacote .div-itens button a:hover {
  color: black;
}

/* STYLE LOGIN E CADASTRO */

*, *:before, *:after { 
  margin:0;
  padding:0;
}

body .container-login{
  margin:10px;
  margin-top: 10%;
}

body .container-login a{
  text-decoration: none;
}

/* esconde as ancoras da tela */
body a.links{
  display: none;
}

/* content que contem os formulários */
body .content-login{
  width: 500px;
  margin: 0px auto;
  position: relative; 
}

/* formatando o cabeçalho dos formulários */
body .container-login .content-login h1{
  font-size: 48px;
  color: rgb(66, 0, 140);
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
body .content-login h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(2, 219, 248, 0) 0%,rgba(66, 0, 140) 20%,rgba(66, 0, 140) 53%,rgba(66, 0, 140) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(66, 0, 140) 20%,rgba(66, 0, 140) 53%,rgba(66, 0, 140) 79%,rgba(147,184,189,0) 100%); 
}

p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
body .content-login label{
  color: #405c60;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
} 
input {
  outline: none;
}

input:not([type="checkbox"]){
  width: 100%;
  margin-top: 4px;
  padding: 10px;  
  border: 1px solid #42008c;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%!important;
  cursor: pointer;  
  background: #42008c;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff; 
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
}
.btn-login:hover {
  background: #a842ff;
}
/*marcando os links para mudar de um formulário para outro */
.content-login .link{
  position: absolute;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #42008c;

  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
.content-login .link a {
  font-weight: bold;
  background: #42008c;
  padding: 6px;
  color: rgb(255, 255, 255);
  margin-left: 40px;
  border: 1px solid #a842ff;

  -webkit-border-radius: 4px;
  border-radius: 4px;  

  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
.content-login .link a:hover {
  color: #42008c;
  background: #f7f7f7;
  border: 1px solid #ffffff;
}

/* estilos para para ambos os formulários */
#cadastro, 
#login{
  position: absolute;
  top: 0px;
  width: 88%; 
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target ~ .content-login #cadastro,
#paralogin:target ~ .content-login #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
#registro:target ~ .content-login #login,
#paralogin:target ~ .content-login #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}